<html>
	<head> 
		<% @issueimage = @issue.imageurl %>
		<% @articletitle = @issue.articles.collect(&:title) %>
		<% @articleurl = @issue.articles.collect(&:article_url) %>
		<% @articletitle = @issue.articles.collect(&:title) %>
		<% @articleauthor = @issue.articles.collect(&:author) %>
		<% @articlelead = @issue.articles.collect(&:lead) %>
		<% @articlepublication = @issue.articles.collect(&:publication) %>
		<% @articledate = @issue.articles.collect(&:published_on) %>
		<% @projecturl = @issue.projects.collect(&:project_url) %>
		<% @projecttitle = @issue.projects.collect(&:project_title) %>
		<% @projectorg = @issue.projects.collect(&:organization) %>
		<% @projectsumm = @issue.projects.collect(&:summary) %>
	<style>
	#jumbo {
	background-image: url(<%= @issueimage %>); no-repeat left center fixed;
	}
	</style>
	<link type="text/css" rel="stylesheet" href="/viewpage.css">
 	</head>


 	<body>
 	<!-- Jumbotron Header -->
			<div id="jumbo" class="container-fluid">
				<div class="row"><!-- Article Content -->
					<div id="jumbo-text-background" class="col-md-4">
						<div id="jumbo-text">
							<h2 class="issue">Today's <%= @issue.topic %> Issue</h2>
							<a href="<%= @articleurl[0] %>" class="title" ><%= @articletitle[0] %></a>
					    	<h3 class="publication">by 
					    	<%= @articleauthor[0] %> of 
					    	<%= @articlepublication[0] %>  
					    	</h3>
					    	<p class="article-date"><%= @articledate[0] %></p>
					    	<!-- ADD .to_date back into @articledate when complete -->
							<p class="article-text"><%= @articlelead[0] %></p>
					    </div>
					</div>			
			    </div>
			    <div id="row"><!-- Issue Facts -->
			    	<div class="col-md-3">
			    		<!-- Fact Box -->Facts Go Here
			    	</div>
			    </div>
			</div>
			<!-- End of Jumbotron Header -->

			<!-- Main Page Body -->
			<div id="main-page-wrapper">	
		
				
				<div class="row">

						<div class="col-md-6">
						<h3> Become Actionable Today</h3>
							<%= @projecttitle[0] %>
							<img src=http://i.imgur.com/mzVAe3M.jpg class="img-rounded" id="projectthumb">
							</br>
							<%= @projecturl[0] %>
							</br>
							<%= @projectorg[0] %>
							</br>
							<%= @projectsumm[0] %>
						</div>
				</div>
			</div>
		</div>
	</div>

	</body>
</html>