<html>
	<head> 
		<% @articletitle = @issue.articles.collect(&:title) %>
		<% @articleurl = @issue.articles.collect(&:article_url) %>
		<% @articletitle = @issue.articles.collect(&:title) %>
		<% @articleauthor = @issue.articles.collect(&:author) %>
		<% @articlelead = @issue.articles.collect(&:lead) %>
		<% @articlepublication = @issue.articles.collect(&:publication) %>
		<% @articledate = @issue.articles.collect(&:published_on) %>
		<% @projecturl = @issue.projects.collect(&:project_url) %>
		<% @projecttitle = @issue.projects.collect(&:project_title) %>
		<% @projectorg = @issue.projects.collect(&:organization) %>
		<% @projectsumm = @issue.projects.collect(&:summary) %>
	<style>
	#jumbo {
	background-image: url("http://i.imgur.com/tA6LHHU.jpg"); no-repeat left center fixed;
	}
	</style>
	<link type="text/css" rel="stylesheet" href="/viewpage.css">
 	</head>


 	<body>
 	<!-- Jumbotron Header -->
			<div id="jumbo" class="container-fluid">
				<div class="container">
					<div id="jumbo-text-background" class="col-md-7">
						<div id="jumbo-text">
							<h2 class="issue">Today's <%= @issue.topic %> Issue</h2>
							<a href="<%= @articleurl[0] %>" class="title" ><%= @articletitle[0] %></a>
					    	<h3 class="publication">by 
					    	<%= @articleauthor[0] %> of 
					    	<%= @articlepublication[0] %>  
					    	</h3>
					    </div>
					</div>
					<div class="row">
						<div class="col-md6">
						
						</div>
					</div>
			    </div>
			</div>
	<!-- End of Jumbotron Header -->

	<!-- Main Page Body -->
	<div id="main-page-wrapper">	
		<div class="row">
			
				<div id= "article-summary" class="col-md-9">	
				<p id="article-date"><%= @articledate[0].to_date %></p>
				<p id="article-text"><%= @articlelead[0] %></p>
				</br>
				</div>
			
		</div>
				
				<div class="row">

						<div class="col-md-6">
						<h3> Become Actionable Today</h3>
							<%= @projecttitle[0] %>
							<img src=http://i.imgur.com/mzVAe3M.jpg class="img-rounded" id="projectthumb">
							</br>
							<%= @projecturl[0] %>
							</br>
							<%= @projectorg[0] %>
							</br>
							<%= @projectsumm[0] %>
						</div>
				</div>
			</div>
		</div>
	</div>

	</body>
</html>